.container
{ 
	margin-top: 100px;
	}
.specimendetails
{
	background: green;
	width: 140px;
	color: white;
	font-size: 12px;
	font-weight: bold;
	}
.col-md-7 h2
{
	color: #555;
	}
.midslevel
{
	height: 15px;
	}
.determination
{
	color: #FE980F;
	font-size: 20px;
	font-weight: bold;
	padding-top: 20px;
	}