<footer class="text-muted">
	<div class="container">
		<p class="float-right">
			<a href="#">Back to top</a>
		</p>
		<p>
			<a href="https://icedig.eu/">ICEDIG</a> a <a href="https://dissco.eu/">DiSSCo</a> Project
		</p>
		<p>
			Website hosted by <a href="https://www.cardiff.ac.uk/computer-science">The School of Computer Science and Informatics</a>, Cardiff University
		</p>
	</div>
</footer>

