<!-- app/views/shared/_navigation.html.erb -->

<nav class="navbar navbar-light" style="background-color: #e3f2fd;" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/dsdata"data-toggle="tooltip" 
         data-placement="bottom" title="DS Viewer Home">
        <%= image_tag("icedig_banner.png", height:32, 
            	class: "img-responsive", id: "navbar-logo") %>
      </a>
      <a class="navbar-brand" href="/dsdata" data-toggle="tooltip" 
         data-placement="bottom" title="Show List of digital specimens">
        Digital Specimens
      </a>
      <a class="navbar-brand" href="/dsdata" data-toggle="tooltip" 
         data-placement="bottom" title="Add new digital specimen">
       Add  Specimen</a>
    </div>
  </div>
</nav>

