body {
   font-family: 'Open Sans', serif;
} 

h2 {
  color: #205692;
  font-family: 'Titillium Web', serif;
  font-weight: semi-bold;
  font-size: 28px;
}

h3, h4 {
  font-family: 'Open Sans', serif;
  font-weight: semi-bold;
  font-size: 20px;
}

/* navbar */
.navbar {
    background-color: #0C86C6;
    border-color: #0C86C6;
}
/* Title */
.navbar .navbar-brand {
    color: #FFFFFF;
    font-family: 'Titillium Web', serif;
}
